{% extends "index.html" %}

{% block title %}Home{% endblock %}

{% block register_js %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Welcome to My Translation App</h1>
    <p>Use this app to ask both GoogleTranslate and ChatGPT to perform the same translation and observe the results.</p>

    <!-- Home Section -->

    <section id="home">
        <div class="container bg-black p-3 text-light">
            <h1>Ask Both</h1>
    
            <form id="bothForm">
                <!-- Radio buttons for language choice -->
                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" id="option1" name="choice" value="eng_to_spa" required checked>
                    <label class="form-check-label" for="option1">English to Spanish</label>
                </div>
                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" id="option2" name="choice" value="spa_to_eng">
                    <label class="form-check-label" for="option2">Spanish to English</label>
                </div>
                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" id="option3" name="choice" value="eng_to_fre">
                    <label class="form-check-label" for="option3">English to French</label>
                </div>
                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" id="option4" name="choice" value="fre_to_eng">
                    <label class="form-check-label" for="option4">French to English</label>
                </div>
            
                <!-- Textarea for user input -->
                <div class="mb-3">
                    <label for="prompt" class="form-label">Your question:</label>
                    <textarea id="prompt" name="prompt" class="form-control" rows="4" cols="50"></textarea>
                </div>
            
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <br>

            <!-- Responses -->
            <div id="rate_GoogleTranslate" class="option d-none">
                <form class="rating-form form-group" data-option-id="1">
                    <div class="btn-group" role="group" aria-label="Rating Set 1">
                        <input type="radio" class="btn-check" id="rating1-set1" autocomplete="off" name="rating-1" value="1">
                        <label class="btn btn-outline-primary" for="rating1-set1">1</label>
                
                        <input type="radio" class="btn-check" id="rating2-set1" autocomplete="off" name="rating-1" value="2">
                        <label class="btn btn-outline-primary" for="rating2-set1">2</label>
                
                        <input type="radio" class="btn-check" id="rating3-set1" autocomplete="off" name="rating-1" value="3">
                        <label class="btn btn-outline-primary" for="rating3-set1">3</label>
                
                        <input type="radio" class="btn-check" id="rating4-set1" autocomplete="off" name="rating-1" value="4">
                        <label class="btn btn-outline-primary" for="rating4-set1">4</label>
                
                        <input type="radio" class="btn-check" id="rating5-set1" autocomplete="off" name="rating-1" value="5">
                        <label class="btn btn-outline-primary" for="rating5-set1">5</label>
                    </div>
                </form>
            </div>
            <p><b id="GoogleTranslate_header" class="d-none">GoogleTranslate: </b><span id="GoogleTranslate_response"></span></p>

            <div id="rate_ChatGPT" class="option d-none">
                <form class="rating-form form-group" data-option-id="2">
                    <div class="btn-group" role="group" aria-label="Rating Set 2">
                        <input type="radio" class="btn-check" id="rating1-set2" autocomplete="off" name="rating-2" value="1">
                        <label class="btn btn-outline-primary" for="rating1-set2">1</label>
                
                        <input type="radio" class="btn-check" id="rating2-set2" autocomplete="off" name="rating-2" value="2">
                        <label class="btn btn-outline-primary" for="rating2-set2">2</label>
                
                        <input type="radio" class="btn-check" id="rating3-set2" autocomplete="off" name="rating-2" value="3">
                        <label class="btn btn-outline-primary" for="rating3-set2">3</label>
                
                        <input type="radio" class="btn-check" id="rating4-set2" autocomplete="off" name="rating-2" value="4">
                        <label class="btn btn-outline-primary" for="rating4-set2">4</label>
                
                        <input type="radio" class="btn-check" id="rating5-set2" autocomplete="off" name="rating-2" value="5">
                        <label class="btn btn-outline-primary" for="rating5-set2">5</label>
                    </div>
                </form>
            </div>
            <p><b id="ChatGPT_header" class="d-none">ChatGPT: </b><span id="ChatGPT_response"></span></p>

            <div id="rate_DeepL" class="option d-none">
                <form class="rating-form form-group" data-option-id="3">
                    <div class="btn-group" role="group" aria-label="Rating Set 3">
                        <input type="radio" class="btn-check" id="rating1-set3" autocomplete="off" name="rating-3" value="1">
                        <label class="btn btn-outline-primary" for="rating1-set3">1</label>
                
                        <input type="radio" class="btn-check" id="rating2-set3" autocomplete="off" name="rating-3" value="2">
                        <label class="btn btn-outline-primary" for="rating2-set3">2</label>
                
                        <input type="radio" class="btn-check" id="rating3-set3" autocomplete="off" name="rating-3" value="3">
                        <label class="btn btn-outline-primary" for="rating3-set3">3</label>
                
                        <input type="radio" class="btn-check" id="rating4-set3" autocomplete="off" name="rating-3" value="4">
                        <label class="btn btn-outline-primary" for="rating4-set3">4</label>
                
                        <input type="radio" class="btn-check" id="rating5-set3" autocomplete="off" name="rating-3" value="5">
                        <label class="btn btn-outline-primary" for="rating5-set3">5</label>
                    </div>
                </form>
            </div>
            <p><b id="DeepL_header" class="d-none">DeepL: </b><span id="DeepL_response"></span></p>

            <!-- Buttons that should appear after the response -->
            <div id="responseButtons" class="d-none mt-3">
                <p>Are any of the responses correct?</p>
                <button class="btn btn-danger mx-2" data-action="0">Neither</button>
                <button class="btn btn-info mx-2" data-action="1">Option 1 (GoogleTranslate)</button>
                <button class="btn btn-primary mx-2" data-action="2">Option 2 (ChatGPT)</button>
                <button class="btn btn-success mx-2" data-action="3">Both</button>
            </div>
            <div id="submissionResponse"></div>
            <div id="creationResponse"></div>
        </div>
    </section>
    
{% endblock %}