{% extends "index.html" %}

{% block title %}Home{% endblock %}

{% block register_js %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Welcome to My Translation App</h1>
    <p>Use this app to ask both GoogleTranslate and ChatGPT to perform the same translation and observe the results.</p>

    <!-- Home Section -->

    <section id="home">
        <div class="container bg-black p-3 text-light">
            <h1>Ask Everyone!</h1>
    
            <form id="bothForm">
                <!-- Radio buttons for language choice -->
                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" id="option1" name="choice" value="eng_to_spa">
                    <label class="form-check-label" for="option1">English to Spanish</label>
                </div>
                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" id="option2" name="choice" value="spa_to_eng">
                    <label class="form-check-label" for="option2">Spanish to English</label>
                </div>
                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" id="option3" name="choice" value="eng_to_fre" checked>
                    <label class="form-check-label" for="option3">English to French</label>
                </div>
                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" id="option4" name="choice" value="fre_to_eng">
                    <label class="form-check-label" for="option4">French to English</label>
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Category:</label>
                    <input type="text" id="category" name="category" value="misc" maxlength="100" placeholder="Enter category" class="form-control w-25"/>
                </div>
            
                <!-- Textarea for user input -->
                <div class="mb-3">
                    <label for="prompt" class="form-label">Text to Translate:</label>
                    <textarea id="prompt" name="prompt" class="form-control" rows="4" cols="50"></textarea>
                </div>
            
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>

            <!-- Responses -->
            <b id="GoogleTranslate_header" class="d-none">GoogleTranslate: </b>
            <div id="rate_GoogleTranslate" class="option d-none">
                <form class="rating-form form-group" data-option-id="1">
                    <div class="btn-group" role="group" aria-label="Rating Set 1">
                        <input type="radio" class="btn-check" id="rating1-set1" autocomplete="off" name="rating-1" value="1">
                        <label class="btn btn-outline-primary" for="rating1-set1">1</label>
                
                        <input type="radio" class="btn-check" id="rating2-set1" autocomplete="off" name="rating-1" value="2">
                        <label class="btn btn-outline-primary" for="rating2-set1">2</label>
                
                        <input type="radio" class="btn-check" id="rating3-set1" autocomplete="off" name="rating-1" value="3">
                        <label class="btn btn-outline-primary" for="rating3-set1">3</label>
                
                        <input type="radio" class="btn-check" id="rating4-set1" autocomplete="off" name="rating-1" value="4">
                        <label class="btn btn-outline-primary" for="rating4-set1">4</label>
                
                        <input type="radio" class="btn-check" id="rating5-set1" autocomplete="off" name="rating-1" value="5" checked>
                        <label class="btn btn-outline-primary" for="rating5-set1">5</label>
                    </div>
                </form>
            </div>
            <p><span id="GoogleTranslate_response"></span></p>

            <b id="ChatGPT_header" class="d-none">ChatGPT: </b>
            <div id="rate_ChatGPT" class="option d-none">
                <form class="rating-form form-group" data-option-id="2">
                    <div class="btn-group" role="group" aria-label="Rating Set 2">
                        <input type="radio" class="btn-check" id="rating1-set2" autocomplete="off" name="rating-2" value="1">
                        <label class="btn btn-outline-primary" for="rating1-set2">1</label>
                
                        <input type="radio" class="btn-check" id="rating2-set2" autocomplete="off" name="rating-2" value="2">
                        <label class="btn btn-outline-primary" for="rating2-set2">2</label>
                
                        <input type="radio" class="btn-check" id="rating3-set2" autocomplete="off" name="rating-2" value="3">
                        <label class="btn btn-outline-primary" for="rating3-set2">3</label>
                
                        <input type="radio" class="btn-check" id="rating4-set2" autocomplete="off" name="rating-2" value="4">
                        <label class="btn btn-outline-primary" for="rating4-set2">4</label>
                
                        <input type="radio" class="btn-check" id="rating5-set2" autocomplete="off" name="rating-2" value="5" checked>
                        <label class="btn btn-outline-primary" for="rating5-set2">5</label>
                    </div>
                </form>
            </div>
            <p><span id="ChatGPT_response"></span></p>

            <b id="ChatGPTmini_header" class="d-none">ChatGPTmini: </b>
            <div id="rate_ChatGPTmini" class="option d-none">
                <form class="rating-form form-group" data-option-id="2">
                    <div class="btn-group" role="group" aria-label="Rating Set 0">
                        <input type="radio" class="btn-check" id="rating1-set0" autocomplete="off" name="rating-0" value="1">
                        <label class="btn btn-outline-primary" for="rating1-set0">1</label>
                
                        <input type="radio" class="btn-check" id="rating2-set0" autocomplete="off" name="rating-0" value="2">
                        <label class="btn btn-outline-primary" for="rating2-set0">2</label>
                
                        <input type="radio" class="btn-check" id="rating3-set0" autocomplete="off" name="rating-0" value="3">
                        <label class="btn btn-outline-primary" for="rating3-set0">3</label>
                
                        <input type="radio" class="btn-check" id="rating4-set0" autocomplete="off" name="rating-0" value="4">
                        <label class="btn btn-outline-primary" for="rating4-set0">4</label>
                
                        <input type="radio" class="btn-check" id="rating5-set0" autocomplete="off" name="rating-0" value="5" checked>
                        <label class="btn btn-outline-primary" for="rating5-set0">5</label>
                    </div>
                </form>
            </div>
            <p><span id="ChatGPTmini_response"></span></p>

            <b id="DeepL_header" class="d-none">DeepL: </b>
            <div id="rate_DeepL" class="option d-none">
                <form class="rating-form form-group" data-option-id="3">
                    <div class="btn-group" role="group" aria-label="Rating Set 3">
                        <input type="radio" class="btn-check" id="rating1-set3" autocomplete="off" name="rating-3" value="1">
                        <label class="btn btn-outline-primary" for="rating1-set3">1</label>
                
                        <input type="radio" class="btn-check" id="rating2-set3" autocomplete="off" name="rating-3" value="2">
                        <label class="btn btn-outline-primary" for="rating2-set3">2</label>
                
                        <input type="radio" class="btn-check" id="rating3-set3" autocomplete="off" name="rating-3" value="3">
                        <label class="btn btn-outline-primary" for="rating3-set3">3</label>
                
                        <input type="radio" class="btn-check" id="rating4-set3" autocomplete="off" name="rating-3" value="4">
                        <label class="btn btn-outline-primary" for="rating4-set3">4</label>
                
                        <input type="radio" class="btn-check" id="rating5-set3" autocomplete="off" name="rating-3" value="5" checked>
                        <label class="btn btn-outline-primary" for="rating5-set3">5</label>
                    </div>
                </form>
            </div>
            <p><span id="DeepL_response"></span></p>

            <!-- Buttons that should appear after the response -->
            <div id="responseButtons" class="d-none mt-3">
                <button type="submit" class="btn btn-info mx-2" id="submit-rating">Submit Rating</button>
            </div>
            <div id="submissionResponse"></div>
            <div id="creationResponse"></div>

            <br>
            <br>
            <h4>Ratings for reference: </h4>
            <span>5 - Meaning is essentially equal and the sentence is natural.</span><br>
            <span>4 - Meaning is essentially equal but some expressions are unnatural.</span><br>
            <span>3 - The key information in the sentence is the same but the details differ.</span><br>
            <span>2 - Some content is similar but the most important information in the sentence is different.</span><br>
            <span>1 - There is no overlap in the meaning of the source sentence whatsoever.</span>
        </div>

    </section>
    
{% endblock %}