{% extends "index.html" %}

{% block title %}Home{% endblock %}

{% block register_js %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Welcome to FlaskApp</h1>
    <p>This is the home page content. Use this template to display anything you like.</p>

    <!-- Home Section -->

    <section id="home">
        <div class="container bg-black p-3 text-light">
            <h1>Ask Both</h1>
    
            <form id="bothForm">
                <label for="option1">
                    <input type="radio" id="option1" name="choice" value="eng_to_spa" required checked>
                    English to Spanish
                </label><br>
            
                <label for="option2">
                    <input type="radio" id="option2" name="choice" value="spa_to_eng">
                    Spanish to English
                </label><br>
                <label for="prompt">Your question:</label><br>
                <textarea id="prompt" name="prompt" rows="4" cols="50"></textarea><br><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
            <p><b id="GoogleTranslate_header" class="d-none">GoogleTranslate: </b><span id="GoogleTranslate_response"></span></p>
            <p><b id="ChatGPT_header"class="d-none">ChatGPT: </b><span id="ChatGPT_response"></span></p>
            <p><b id="Comparison_header"class="d-none">Comparison: </b><span id="Comparison"></span></p>

            <!-- Buttons that should appear after the response -->
            <div id="responseButtons" class="d-none mt-3">
                <p>Are any of the responses correct?</p>
                <button class="btn btn-danger mx-2" data-action="0">Neither</button>
                <button class="btn btn-info mx-2" data-action="1">Option 1 (ChatGPT)</button>
                <button class="btn btn-primary mx-2" data-action="2">Option 2 (GoogleTranslate)</button>
                <button class="btn btn-success mx-2" data-action="3">Both</button>
            </div>
            <div id="submissionResponse"></div>
            <div id="creationResponse"></div>
        </div>
    </section>
    
{% endblock %}