<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskApp</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> <!-- Link to your JavaScript file -->
</head>
<body>
    <h1>Ask Both</h1>
    
    <form id="bothForm">
        <label for="option1">
            <input type="radio" id="option1" name="choice" value="eng_to_spa" required checked>
            English to Spanish
        </label><br>
    
        <label for="option2">
            <input type="radio" id="option2" name="choice" value="spa_to_eng">
            Spanish to English
        </label><br>
        <label for="prompt">Your question:</label><br>
        <textarea id="prompt" name="prompt" rows="4" cols="50"></textarea><br><br>
        <button type="submit">Submit</button>
    </form>
    
    <div id="GoogleTranslate_response"></div>
    <div id="ChatGPT_response"></div>
    <div id="Comparison"></div>

    <h1>Ask ChatGPT</h1>
    
    <form id="chatForm">
        <label for="prompt">Your question:</label><br>
        <textarea id="promptChatGPT" name="prompt" rows="4" cols="50"></textarea><br><br>
        <button type="submit">Submit</button>
    </form>
    
    <div id="response"></div>


    <h1>Ask GoogleTranslate</h1>
    
    <form id="translateForm">
        <label for="prompt">Your question:</label><br>
        <textarea id="promptGoogleTranslate" name="prompt" rows="4" cols="50"></textarea><br><br>
        <button type="submit">Submit</button>
    </form>

    <div id="translation"></div>

</body>
</html>
